@{
    ViewData["Title"] = "_Layout";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="~/css/menustyle.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />
</head>
<body>
    <div class="menu-list">
        <ul class="menu">
            <li><a asp-controller="Home" asp-action="HomePage">Home</a></li>
            <li><a asp-controller="RegistrationUser" asp-action="Registration">Registration</a></li>
            <li><a asp-controller="RegistrationUser" asp-action="Login">Login</a></li>
            <li><a asp-controller="Contacts" asp-action="Contact">Contacts</a></li>
            <li><a asp-controller="About" asp-action="Abouts">About</a></li>
        </ul>
    </div>
    <div class="main">
        @RenderBody()
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <footer>
        Создание пользовательского интерфейса в ASP.NET Core
    </footer>
</body>
</html>
