
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Accept</title>
</head>
<body>
    <h1>Registration Accepted</h1>
    <h2>Thanks @Model.Name for registration</h2>
    <a asp-controller="Home" asp-action="HomePage">Go to HomePage</a>
</body>
</html>
